div {
    background: url(https://funart.pro/uploads/posts/2020-04/1587646436_33-p-besshovnie-foni-dlya-saitov-96.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}